* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo{
  max-width: 50vw ;
  width: 100%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 50px;
}


h2{
  font-size:45px;
  margin-left: 20px;
  
}

h4{
  color: gray;
  font-size:25px ;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  margin: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  margin-left: 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}


ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 28%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.checked{
  color: #555;
  text-decoration: line-through;
}
.checked::before{
  background-image: url(img/checked.png);
}

ul li span{
  position: absolute;
  right: 30px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}


ul li :hover{
  background-color: #edeef0 ;
}